[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w
